div.container-fluid
		div.row
			div#footing.col-lg-12.col-md-12.col-sm-12.hidden-xs.text-center
				footer
					p.col-lg-4.col-md-4.col-sm-4="Created By: Alex Daniels"
					p.col-lg-4.col-md-4.col-sm-4="Phone: 807-630-1290"
					p.col-lg-4.col-md-4.col-sm-4="Email: AlexDanielsOnline@gmail.com"