div.container-fluid
		div.row#header
				div#logo.col-lg-1.col-md-1.col-sm-1.col-xs-12
					image(src='/images/logo.png' height='50px' width='50px')
				div#title.col-lg-10.col-md-10.col-sm-10.col-xs-12.text-center
					h1=title
				div#logout.col-lg-1.col-md-1.col-sm-1.col-xs-1
