html
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.center-nav.row
            li
              button.btn.navbar-btn.btn-lg Home
            li
              button.btn.navbar-btn.btn-lg New Board
            li
              button.btn.navbar-btn.btn-lg People
            li
              button.btn.navbar-btn.btn-lg Alerts
            li
              button.btn.navbar-btn.btn-lg My Account