extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/loggedin.css')
	link(rel='stylesheet', href='/stylesheets/home.css')

block heading
	include partials/header

block navBar
	include partials/nav

block page
	div.container
		div.row
			div#boardSearch.col-lg-12
				div#boardSearchComponent

		div.row#myStuff
			div#myBoards.col-lg-5
				h1='My Boards'
				div#myBoardsComponent
			div#mySubs.col-lg-5.col-lg-offset-2
				h1='Subscriptions'
				div#mySubsComponent
		br
block footing
	include partials/footer

block scripts
	script(src='/javascripts/board/BoardSearch.js',type='text/babel')
	script(src='/javascripts/board/MyBoards.js',type='text/babel')
	script(src='/javascripts/board/MySubs.js',type='text/babel')
