extends layout

block scripts
	link(rel='stylesheet', href='/stylesheets/loggedin.css')
	link(rel='stylesheet', href='/stylesheets/home.css')
	script(src='/javascripts/components/BoardSearch.js',type='text/babel')

block heading
	include partials/header

block navBar
	include partials/nav

block page
	div.container
		div.row
			div#boardSearch.col-lg-12

		div.row#myStuff
			div#myBoards.col-lg-5
				h2='My Boards'
				div#myBoardsComponent
			div#subs.col-lg-5.col-lg-offset-2
				h2='Popular Boards'
				div#popularComponent

		div.row
			div#popular.col-lg-12

		div.row
			div#top.col-lg-12

block footing
	include partials/footer