doctype html
html
	head
		meta(charset='UTF-8')
		meta(lang='EN')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title=title

		<!-- Jquery minified JavaScript -->
		script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")

		<!-- Bootstrap minified CSS -->

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

		<!-- Bootstrap minified JavaScript -->
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

		script(src="https://fb.me/react-0.14.8.js")
		script(src="https://fb.me/react-dom-0.14.8.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles

	body
		block heading
		block navBar
		block page
		block footing
		block scripts
    
