#save {
	background-color: green;
}

#change {
	background-color: orange;
}

#delete {
	background-color: red;
}

#cancel {
	background-color: yellow;
}

#chat {
	background-color: blue;
}

.input-group div {
	text-align: center;
}

#board {
	height: 400px;
}

@media (min-width: 1200px) { 
	.dropdown-menu {
		min-width:175px;
		width: 175px;
		background-color: #004466;
		margin-left: 70px;
		margin-top: -65px;
		
	}
}

@media (min-width: 992px) { 
	.input-group > button {
		height: 40px;
		margin-bottom : 6px;
		margin-top : 6px;
	}

	.input-group input {
		margin-bottom : 6px;
		margin-top : 6px;
	}

	.colorPicker button {
		height: 35px;
	}

	.dropdown-menu {
		min-width:175px;
		width: 175px;
		background-color: #004466;
		margin-left: 70px;
		margin-top: -65px;
		
	}
	#btnGroupDrop1 {
		height: 40px;
		width: 100%;
	}
	#btnGroupDrop2 {
		height: 40px;
		width: 100%;
	}
}


@media (max-width: 992px) {
	.input-group button {
		height: 40px;
		margin-top: 8px;
	}
	.input-group input {
		height: 100%;
	}
	.dropdown-menu {
		min-width:40px;
		width: 40px;
		background-color: #004466;
		left: 10px;
		height: 212px;
		top: 55px;

	}
	.dropdown-menu button{
		height: 35px;
		margin: 0px;
		left: 6px;
		top:-5px;
	}
	.input-group {
		margin: 5px;
	}
	#btnGroupDrop1 {
		height: 30px;
		width: 100%;
	}
	#btnGroupDrop2 {
		height: 30px;
		width: 100%;
	}

	#slider {
		top: 10px;
	}
	#chat {
		left: 15px;
	}
}

