.note textarea {
	height: 100px;
	width: 125px;
	text-align: center;
	overflow: hidden;
}



#boardSection {
	overflow-y: hidden;
	overflow-x: scroll;
}

#boardSection div {
	overflow: hidden;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75)
}

#boardSection div.editByOther {
	-webkit-box-shadow: 7px 7px 5px 0px rgba(222,40,40,1);
    -moz-box-shadow: 7px 7px 5px 0px rgba(222,40,40,1);
    box-shadow: 7px 7px 5px 0px rgba(222,40,40,1);
}

#boardSection {
	text-align: center;
}

#save {
	background-color: green;
}

#change {
	background-color: orange;
}

#delete {
	background-color: red;
}

#cancel {
	background-color: yellow;
}

#chat {
	background-color: blue;
}

.input-group div {
	text-align: center;
}

#board {
	height: 400px;
}

@media (min-width: 992px) { 

	#slider {
		height: 60px;
	}

	#chat {
		margin-top:25px;
	}

	#change {
		margin-top:25px;
	}

	.input-group input {
		margin-bottom : 6px;
		margin-top : 6px;
	}

	.changeOptions {
		left:66px;
		top:200px;
		width: 250px;
		height: 43px;
		background-color: #004466;
	}
	.changeOptions button {
		height: 100%;
		background-color: orange;
	}

	.colorPicker button {
		height: 35px;
	}

	.colorOptions {
		min-width:175px;
		width: 175px;
		background-color: #004466;
		margin-left: 55px;
		margin-top: -65px;
		
	}
	#btnGroupDrop1 {
		height: 40px;
		width: 100%;
	}
	#btnGroupDrop2 {
		height: 40px;
		width: 100%;
	}
}

@media (min-width: 1200px) { 
	.colorOptions {
		min-width:175px;
		width: 175px;
		background-color: #004466;
		margin-left: 70px;
		margin-top: -65px;
	}
}

@media (max-width: 992px) {

	#btnGroupDrop3 {
		width: 60%;
		background-color: orange;
	}

	.changeOptions {
		background-color: #004466;
		top:65px;
		left:-20px;
		margin-top: 0px
	}
	.changeOptions button {
		height: 100%;
		background-color: orange;
	}

	.input-group button {
		height: 40px;
		margin-top: 8px;
	}
	.input-group input {
		height: 100%;
	}
	.colorOptions {
		min-width:40px;
		width: 40px;
		background-color: #004466;
		left: 10px;
		height: 212px;
		top: 55px;
	}
	.colorOptions button{
		height: 35px;
		margin: 0px;
		left: 6px;
		top:-5px;
	}
	.input-group {
		margin: 5px;
	}
	#btnGroupDrop1 {
		height: 30px;
		width: 100%;
	}
	#btnGroupDrop2 {
		height: 30px;
		width: 100%;
	}

	#slider {
		top: 10px;
	}
	#chat {
		left: 15px;
	}
}

@media (max-width: 768px) {
	
}


@media (max-width: 320px) {
	#chat {
		left: 0px;
	}
}

@media (min-width: 1200px) { 
	.colorOptions {
		min-width:175px;
		width: 175px;
		background-color: #004466;
		margin-left: 70px;
		margin-top: -65px;
	}
	.changeOptions {
		left:82px;
	}
}