#nav {
	margin-bottom: 15px;
}

.searcher {
	border-radius: 10px;
	background-color: #CC0066;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	margin-bottom: 15px;
}
.searchInput{
	position: relative;
	top: 40px;
}
.searchButton {
	position: relative;
	top: 30px;
}
.result {
	height: 60px;
	margin-top: 15px;
	background-color: #7401DF;
	border-radius: 10px;
	border-style: solid;
	border-color: black; 
}
.result button{
	margin-top: 13px;
}
.result p{
	margin-top: 17px;
}

.myboards {
	height: 55px;
	background-color: #7401DF;
	margin-top: 6px;
	border-radius: 5px;
	border-style: solid;
	border-color: black; 
}

.myboards p {
	margin-top: -6px;
	margin-bottom: 0px;
}
.myboards button {
	margin-top: 3px;
}
.myboards h3 {
	margin-top: 0px;
}

#myBoards {
	height :140px;
	border-radius: 10px;
	overflow-y: scroll;
	background-color: #CC0066;
	margin-top: 15px
	border-radius: 10px;
	border-style: solid;
	border-color: black; 
	margin-bottom: 15px
}

#mySubs {
	height :140px;
	border-radius: 10px;
	overflow-y: scroll;
	background-color: #CC0066;
	margin-top: 15px
	border-radius: 10px;
	border-style: solid;
	border-color: black; 
}

#popular {
	height :130px;
	border-radius: 10px;
	background-color: #CC0066;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
}

h2 {
	font-size: 20px;
	text-align: center;
}