#about {
	color: black;
	height: 200px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	margin-bottom: 15px;
	background-color: #004466;
}

#signup {
	color: black;
	height: 330px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	margin-bottom: 30px;
	background-color: #004466;
}

.main {
	margin-top: 50px;
	border-radius: 10px;
}

input {
	color: black;
	text-align: center;
}

label {
	text-align: center;
}

#signup * {
	margin-top: 12px;
}

#indexnav {
	height : 90px;
	background-color: #004466;
	border-radius: 10px;
	border-style: solid;
	border-top-color: black;
	border-bottom-color: black;
}
#indexnav input{
	margin-top: 35px;
}
#indexnav label {
	margin-top: 39px;
}
#indexnav button{
	position: relative;
	margin-top: 25px;
}

@media (max-width: 768px){
	#indexnav {
		margin-top:0px;
		height : 350px;
		background-color: #004466;
	}
}