body {
	color: #01A9DB;
	background-color: #01A9DB
}

#header {
	height : 45px;
}
#footing {
	position: fixed;
	bottom: 0px;
	height: 20px;
	background-color: #CC0066
}

#footing p {
	font-size: 10px;
}

#title {
	margin-top: -15px
}

#nav {
	margin-top:10px;
	height : 90px;
	background-color: #CC0066;
}
#nav input{
	margin-top: 35px;
}
#nav label {
	margin-top: 39px;
}
#nav button{
	position: relative;
	margin-top: 25px;
}

h1 {
	color: black;
}

button {
	color:black;
	background-color: #64FE2E;
}
button:hover {
	background-color: #F3F781;
}

.col-centered {
    float: none;
    margin: 0 auto;
}